@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
.flex-wrapper-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.flex-wrapper {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify; }
  .flex-wrapper.flex-end {
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-align-content: flex-end;
    align-content: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end; }
  .flex-wrapper.flex-start {
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }
  .flex-wrapper.justify-start {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }
  .flex-wrapper.justify-end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }
  .flex-wrapper.justify-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .flex-wrapper .full {
    width: 100%;
    position: relative; }
  .flex-wrapper .column {
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; }
  .flex-wrapper .align-start {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    align-self: flex-start; }
  .flex-wrapper .one-half {
    flex: 2 1;
    position: relative;
    width: 50%;
    min-width: 370px; }
    .flex-wrapper .one-half.center {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      text-align: center; }
    .flex-wrapper .one-half.flex-end {
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end; }
    .flex-wrapper .one-half.flex-start {
      -webkit-align-content: flex-start;
      -moz-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start; }
    .flex-wrapper .one-half.justify-start {
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; }
  .flex-wrapper.center, .flex-wrapper .center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  .flex-wrapper .one-third {
    width: calc(33.333% - 30px);
    min-width: 214px;
    position: relative; }
  .flex-wrapper .one-third-flex {
    flex: 3 1;
    width: calc(33.333% - 30px);
    min-width: 214px; }
  .flex-wrapper .one-fourth {
    width: 25%;
    min-width: 200px; }
  .flex-wrapper .three-fourths {
    width: 75%;
    min-width: 300px; }
  .flex-wrapper .two-thirds {
    width: calc(66.666% - 30px);
    min-width: 400px; }
    .flex-wrapper .two-thirds img {
      max-width: 100%;
      max-height: 100%; }
  .flex-wrapper .two-thirds-flex {
    flex: 2 1;
    width: calc(66.666% - 30px);
    min-width: 400px; }
  .flex-wrapper .full {
    width: 100%; }

@media only screen and (max-width: 736px) {
  .flexbox .one-half, .section .one-half {
    width: 100%;
    min-width: 200px; }
  .flexbox .one-third, .section .one-third {
    width: 100%;
    margin-bottom: 30px; }
  .flexbox .one-third-flex, .section .one-third-flex {
    margin-bottom: 30px; }
  .flexbox .two-thirds, .section .two-thirds {
    width: 100%;
    min-width: 300px; } }
html, body {
  font-family: Georgia, serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
  color: #404041;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: white;
  overflow-x: hidden; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Custom Styles
   ========================================================================== */
button {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 0;
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  transition: all 0.5s linear;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em; }
  button:hover {
    cursor: pointer; }
  button.btn-transparent {
    border: 2px solid #ece8e8;
    background: rgba(236, 232, 232, 0);
    color: #ece8e8; }
    button.btn-transparent:hover {
      background: #ece8e8;
      color: #404041; }
  button.btn-red {
    background: rgba(185, 35, 28, 0);
    border: 2px solid #b9231c;
    color: #b9231c; }
    button.btn-red:hover {
      background: #b9231c;
      color: #ece8e8; }

.hr-titles {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
  line-height: 15px; }
  .hr-titles:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 5px;
    height: 2px;
    background: #ece8e8; }
  .hr-titles:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 9px;
    height: 1px;
    border-bottom: 1px dotted #999; }
  .hr-titles.tall-title span {
    margin-top: -33px; }
  .hr-titles span {
    text-transform: uppercase;
    letter-spacing: .3em;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 27px;
    padding-right: 27px;
    max-width: 70%;
    line-height: 1.3em;
    background: #fff;
    margin-top: -12px; }
  .hr-titles.read-more span {
    color: #b9231c; }

div.wpforms-container-full .wpforms-form button[type=submit] {
  background: #b9231c !important;
  border: 2px solid #b9231c !important;
  color: #ece8e8 !important;
  width: 100%; }
  div.wpforms-container-full .wpforms-form button[type=submit]:hover {
    background: rgba(239, 80, 60, 0) !important;
    color: #b9231c !important; }

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s linear; }
  a:hover {
    color: #b9231c; }
  a.red {
    color: #b9231c;
    border-bottom: 1px solid #b9231c;
    transition: all 0.5s linear; }
    a.red:hover {
      color: #404041;
      border-bottom: 1px solid #404041; }

h1, h2, h4 {
  font-weight: 700;
  letter-spacing: 0.05em; }

h1 {
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: 15px;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #ece8e8; }

h2 {
  font-size: 1.5em;
  line-height: 1.3em; }

h4 {
  color: #b9231c;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 0; }

p {
  max-width: 700px;
  line-height: 1.7em;
  font-size: 1em; }

ul li {
  padding: 0 0 12px 0; }

ol {
  padding-left: 20px;
  max-width: 700px; }
  ol li {
    padding-bottom: 15px; }

.two-column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2; }

.header {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  -ms-align-content: flex-end;
  align-content: flex-end;
  padding: 10px 30px;
  border-bottom: 1px solid #ece8e8;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500000;
  background: white; }
  .header #logo {
    max-width: 150px;
    position: relative;
    display: inline-block; }
    .header #logo img {
      max-width: 100%;
      height: auto; }
  .header #nav {
    font-size: 15px;
    font-family: 'OpenSans', 'Helvetica', sans-serif;
    padding-top: 10px; }
    .header #nav ul {
      padding-left: 5px;
      list-style: none;
      margin: 0;
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-align-self: flex-end;
      align-self: flex-end; }
      .header #nav ul li {
        display: inline-block;
        padding: 0 15px 0 0;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 30px;
        margin-bottom: -30px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em; }
        .header #nav ul li:first-child {
          padding-left: 0; }
        .header #nav ul li.current_page_item a {
          padding-bottom: 5px;
          color: #b9231c;
          border-bottom: 1px solid #b9231c; }
        .header #nav ul li.current_page_item .subnav li a {
          color: #404041;
          border-bottom: none; }
          .header #nav ul li.current_page_item .subnav li a:hover {
            color: #b9231c; }
        .header #nav ul li .subnav {
          position: absolute;
          font-size: 12px;
          padding-left: 0;
          z-index: 500;
          background: white;
          border: 1px solid #404041;
          display: none;
          margin-top: 5px; }
          .header #nav ul li .subnav li {
            height: 25px;
            display: block;
            border-bottom: 1px solid #404041;
            padding: 10px 10px;
            margin: 0 10px;
            white-space: nowrap;
            color: #404041; }
            .header #nav ul li .subnav li:last-child {
              border-bottom: none; }
            .header #nav ul li .subnav li:hover {
              color: #b9231c; }
        .header #nav ul li:hover .subnav {
          display: block; }

#mobile-nav, #mobile-nav-drawer {
  display: block; }

#mobile-nav {
  display: none;
  position: fixed;
  right: 30px;
  top: 15px;
  padding: 15px 0 0 0;
  z-index: 1000; }

.hamburger {
  z-index: 10001;
  width: 30px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #404041;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.hamburger span:nth-child(1) {
  top: 0px; }

.hamburger span:nth-child(2), .hamburger span:nth-child(3) {
  top: 9px; }

.hamburger span:nth-child(4) {
  top: 18px; }

.hamburger:hover span {
  background-color: #b9231c;
  cursor: pointer; }

.hamburger.open span {
  background: #404041; }
.hamburger.open:hover span {
  background-color: #b9231c; }

.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

#mobile-nav-drawer {
  display: none;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 100%;
  overflow-y: scroll;
  background: #ece8e8;
  color: #404041;
  transition: all 0.5s linear;
  font-size: 15px;
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  z-index: 1;
  padding: 0px 60px 60px 60px; }
  #mobile-nav-drawer ul {
    list-style: none;
    padding-left: 0; }
    #mobile-nav-drawer ul .page-link {
      border-bottom: 1px solid #404041;
      padding: 10px 20px; }
    #mobile-nav-drawer ul .subnav {
      font-size: 12px;
      margin-top: 20px; }
    #mobile-nav-drawer ul li {
      color: #404041;
      display: block;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      text-align: center; }
      #mobile-nav-drawer ul li.page_item {
        padding-top: 15px; }
  #mobile-nav-drawer.open {
    bottom: 0;
    padding-top: 96px; }

.main-content-wrap {
  max-width: 1600px;
  position: relative;
  margin-top: 35px; }
  .main-content-wrap.page-container section {
    padding: 60px 30px; }
  .main-content-wrap.page-container .header-image {
    height: 330px; }
    .main-content-wrap.page-container .header-image .content-container {
      padding: 0 30px; }
  .main-content-wrap .header-image {
    position: relative;
    min-height: 330px;
    max-height: 600px;
    height: 30vh;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    border-bottom: 1px solid #ece8e8;
    color: #ece8e8; }
    .main-content-wrap .header-image.short {
      height: 10vh;
      min-height: 110px; }
      .main-content-wrap .header-image.short .content-container {
        top: 25px; }
    .main-content-wrap .header-image .content-container {
      position: absolute;
      padding: 60px 0px;
      max-width: 1100px;
      z-index: 300;
      left: calc(50% - 500px);
      top: 0;
      bottom: 0;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; }
      .main-content-wrap .header-image .content-container p {
        margin-top: 0; }
      .main-content-wrap .header-image .content-container .copy-container {
        width: 100%;
        -webkit-align-self: flex-start;
        -moz-align-self: flex-start;
        -ms-align-self: flex-start;
        align-self: flex-start; }
        .main-content-wrap .header-image .content-container .copy-container.intro-copy {
          margin-bottom: -30px;
          background: #ece8e8;
          color: #404041;
          padding: 30px 0;
          height: 70%; }
          .main-content-wrap .header-image .content-container .copy-container.intro-copy p {
            margin: 0 auto; }
      .main-content-wrap .header-image .content-container a {
        display: block; }
    .main-content-wrap .header-image .image-overlay {
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      top: 0;
      background: rgba(55, 40, 77, 0.6);
      z-index: 200; }
    .main-content-wrap .header-image .image {
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      top: 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: -10%, 0;
      z-index: 100; }
  .main-content-wrap .header-content-container {
    position: relative;
    width: calc(70% + 60px);
    max-width: 1100px;
    margin: 0 auto;
    z-index: 300;
    margin-top: -170px; }
    .main-content-wrap .header-content-container h1, .main-content-wrap .header-content-container .copy-container {
      width: 100%; }
    .main-content-wrap .header-content-container .copy-container {
      background: white;
      padding: 60px 30px 30px 30px; }
      .main-content-wrap .header-content-container .copy-container p, .main-content-wrap .header-content-container .copy-container ul {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 0 1.5em 0; }
      .main-content-wrap .header-content-container .copy-container ul {
        padding: 0 0 1.5em 2.5em; }

section {
  display: block;
  max-width: 100%;
  padding: 30px 30px;
  color: #404041;
  position: relative; }
  section .section-content {
    max-width: 1100px;
    margin: 0 auto; }
    section .section-content.centered-content {
      max-width: 700px; }
      section .section-content.centered-content h4 {
        text-align: center; }
  section .section-header-container {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding-bottom: 30px; }
    section .section-header-container h1 {
      padding-right: 15px;
      color: #404041; }
      section .section-header-container h1:first-child {
        margin-top: 0; }
    section .section-header-container .line {
      flex: 2 1;
      height: 3px;
      background: #404041;
      float: left; }
  section h1 {
    color: #404041; }
    section h1:first-child {
      margin-top: 0; }
  section .intro-copy {
    max-width: 700px; }
  section .image-row-wrap {
    padding: 30px 0px;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }
    section .image-row-wrap .one-fourth a {
      width: 100%; }
    section .image-row-wrap .one-fourth .content-container {
      transition: all 0.5s linear;
      padding: 10px;
      position: relative; }
      section .image-row-wrap .one-fourth .content-container:hover .image-overlay {
        background: rgba(64, 64, 65, 0.6); }
    section .image-row-wrap .one-fourth:first-child .content-container {
      padding-left: 0;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; }
    section .image-row-wrap .one-fourth:last-child .content-container {
      padding-right: 0; }
  section#tools-and-facilities .tools-content, section#products .tools-content {
    height: 40vh;
    min-height: 330px;
    max-height: 600px;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }
    section#tools-and-facilities .tools-content .one-half, section#products .tools-content .one-half {
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; }
    section#tools-and-facilities .tools-content .one-half.image, section#tools-and-facilities .tools-content .one-half .image, section#products .tools-content .one-half.image, section#products .tools-content .one-half .image {
      margin: 0 0 0 30px;
      transition: all 0.5s linear;
      width: 100%;
      height: 100%;
      min-height: 100px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    section#tools-and-facilities .tools-content .one-half a, section#products .tools-content .one-half a {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-align-self: flex-end;
      align-self: flex-end; }
  section#tools-and-facilities, section#products, section#leadership {
    padding-bottom: 80px; }
  section#products .flex-wrapper {
    height: auto;
    max-height: 10000px; }
    section#products .flex-wrapper.section-header-container {
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
    section#products .flex-wrapper .one-half .content-container {
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; }
      section#products .flex-wrapper .one-half .content-container .caption {
        font-size: 1.1em;
        line-height: 1.7em;
        font-weight: 700; }
      section#products .flex-wrapper .one-half .content-container .image {
        background-repeat: no-repeat;
        background-position: center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        min-height: 300px;
        height: 40vh;
        width: 100%;
        max-height: 500px; }
      section#products .flex-wrapper .one-half .content-container a {
        -webkit-align-self: flex-end;
        -moz-align-self: flex-end;
        -ms-align-self: flex-end;
        align-self: flex-end;
        float: right;
        padding-top: 20px; }
    section#products .flex-wrapper .one-half:first-child .content-container {
      margin-right: 30px; }
    section#products .flex-wrapper .one-half:last-child {
      margin-left: 30px; }
      section#products .flex-wrapper .one-half:last-child .content-container {
        margin-right: 30px; }
    section#products .flex-wrapper .one-half .image {
      margin-left: 0; }
  section .image-container {
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
    section .image-container img {
      border: 1px solid #404041;
      max-width: 100%;
      max-height: 100%; }
    section .image-container .image {
      transition: all 0.5s linear;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    section .image-container .image-overlay {
      background: rgba(64, 64, 65, 0);
      transition: all 0.5s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2; }
  section .caption {
    padding-top: 10px;
    font-size: 0.9em; }
  section#contact {
    background: #b2b2b2; }
    section#contact .content-wrap {
      max-width: 400px; }
      section#contact .content-wrap p {
        margin: 0; }
    section#contact .description span {
      display: block; }
  section#leadership .team-wrapper .one-half .content-wrap {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    section#leadership .team-wrapper .one-half .content-wrap a {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-align-self: flex-end;
      align-self: flex-end;
      width: 100%; }
  section#leadership .leadership-item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    max-width: 300px;
    padding: 30px;
    background: #ece8e8;
    text-align: center; }
    section#leadership .leadership-item .thumbnail {
      text-align: center; }
      section#leadership .leadership-item .thumbnail img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        padding-bottom: 15px; }
    section#leadership .leadership-item .title {
      font-weight: 600; }
  section#contact .content-wrap {
    padding: 30px; }
  section#experience-expertise .section-content:not(.title) {
    padding-bottom: 30px; }
  section#news {
    background: #ece8e8;
    margin: 50px 0;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 6px 3px #d4d4d4;
    -moz-box-shadow: 0px 0px 6px 3px #d4d4d4;
    box-shadow: 0px 0px 6px 3px #d4d4d4;
    color: white; }
    section#news .image-container {
      min-height: 200px; }
    section#news .lslide .caption {
      padding-top: 10px;
      position: absolute;
      top: 135px;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: 300;
      background: rgba(236, 232, 232, 0.8);
      border-top: 1px solid white;
      transition: top 0.5s linear;
      padding: 10px 15px; }
    section#news .lslide:hover .caption {
      top: 0; }
    section#news .title {
      font-size: 1.1em;
      font-weight: 600; }
    section#news .lslide > a {
      color: #404041; }
      section#news .lslide > a:hover {
        color: #404041; }
    section#news .lightSlider.lsGrab > * {
      padding-bottom: 0;
      position: relative; }
    section#news .lSAction > a {
      top: 44%;
      opacity: 1;
      font-weight: 100;
      color: white; }
      section#news .lSAction > a:hover {
        color: #ece8e8; }
  section.team-title {
    padding-bottom: 0; }
  section.team-wrapper {
    padding-top: 20px; }
  section.buttons {
    max-width: 1100px;
    margin: 0 auto; }
    section.buttons .one-half:first-child .content-container {
      padding: 0px 30px 30px 0; }
    section.buttons .one-half:last-child .content-container {
      padding: 0px 0 30px 30px; }
    section.buttons .one-half .content-container {
      width: 100%; }
    section.buttons button {
      width: 100%;
      padding: 25px 15px; }
  section.post .featured-image {
    margin-bottom: 30px;
    max-width: 700px;
    height: 50vh;
    max-height: 500px;
    min-height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }

.page-container #leadership-team .leadership-item:last-child, .page-container #experience-expertise .leadership-item:last-child {
  padding-bottom: 0; }
.page-container #leadership-team .content-container:last-child, .page-container #experience-expertise .content-container:last-child {
  padding-bottom: 0; }
.page-container #leadership-team .read-more:last-child, .page-container #experience-expertise .read-more:last-child {
  margin-bottom: 15px; }
.page-container section#contact {
  background: white;
  padding-top: 60px; }

#contact .full {
  padding-bottom: 10px; }
#contact section.map {
  padding-top: 0; }
  #contact section.map .section-content {
    border: 1px solid #404041; }

.leadership-item {
  padding-bottom: 60px; }

.leadership-item .content-container, .experience .content-container {
  padding: 50px 0; }
.leadership-item .abbreviated, .experience .abbreviated {
  height: auto;
  max-height: 396px;
  transition: max-height 1s ease-out;
  overflow: hidden; }
  .leadership-item .abbreviated.open, .experience .abbreviated.open {
    max-height: 1000px;
    transition: max-height 1s ease-out;
    height: auto; }
.leadership-item .read-more, .experience .read-more {
  margin-top: 20px; }
  .leadership-item .read-more span:hover, .experience .read-more span:hover {
    cursor: pointer; }
  .leadership-item .read-more span.close-text.hidden, .leadership-item .read-more span.open-text.hidden, .experience .read-more span.close-text.hidden, .experience .read-more span.open-text.hidden {
    display: none; }
.leadership-item .one-fourth, .experience .one-fourth {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center; }
.leadership-item .thumbnail, .experience .thumbnail {
  text-align: center; }
  .leadership-item .thumbnail img, .experience .thumbnail img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-bottom: 15px; }
.leadership-item .three-fourths, .experience .three-fourths {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start; }
  .leadership-item .three-fourths .content-container, .experience .three-fourths .content-container {
    padding-left: 30px; }

div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-weight: 600 !important; }

div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: #b9231c !important; }

div.wpforms-container-full .wpforms-form input[type=date],
div.wpforms-container-full .wpforms-form input[type=datetime],
div.wpforms-container-full .wpforms-form input[type=datetime-local],
div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form input[type=month],
div.wpforms-container-full .wpforms-form input[type=number],
div.wpforms-container-full .wpforms-form input[type=password],
div.wpforms-container-full .wpforms-form input[type=range],
div.wpforms-container-full .wpforms-form input[type=search],
div.wpforms-container-full .wpforms-form input[type=tel],
div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=time],
div.wpforms-container-full .wpforms-form input[type=url],
div.wpforms-container-full .wpforms-form input[type=week],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
  background-color: #ece8e8 !important;
  border: 1px solid #404041 !important;
  border-radius: 0 !important; }

#lightslider {
  padding: 15px 0; }

.lSAction > a {
  top: 80px;
  background: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 40px;
  color: #ece8e8;
  font-weight: 600;
  transition: color 1s linear; }
  .lSAction > a:hover {
    color: #b9231c; }

.lSAction > .lSNext {
  right: 0px; }
  .lSAction > .lSNext:before {
    content: "\f105"; }

.lSAction > .lSPrev:before {
  content: "\f104"; }

.lslide .image-container {
  width: auto; }

.page-container section .content-container a {
  border-bottom: 2px solid;
  border-color: #b9231c;
  color: #b9231c; }
  .page-container section .content-container a:hover {
    border-color: 2px solid #404041;
    color: #404041; }
.page-container .lightSlider {
  padding: 30px 30px 30px 0; }
  .page-container .lightSlider .image img {
    border: 1px solid #404041;
    width: calc(100% - 4px);
    height: auto; }

.page-container .section-content.title-start-wrap {
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start; }
  .page-container .section-content.title-start-wrap .one-half-title-start {
    width: 50%; }
    .page-container .section-content.title-start-wrap .one-half-title-start h2 {
      padding-right: 30px;
      margin-bottom: 0; }
.page-container .section-content.title-end-wrap {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
  -ms-flex-pack: flex-end; }
  .page-container .section-content.title-end-wrap .one-half-title-end {
    width: 50%; }
    .page-container .section-content.title-end-wrap .one-half-title-end h2 {
      padding-left: 30px;
      margin-bottom: 0; }
.page-container .section-content .one-half:first-child .content-container, .page-container .section-content .one-half:first-child .image-container {
  padding: 0px 30px 0px 0; }
.page-container .section-content .one-half:first-child .lSSlideOuter {
  padding: 0 30px 0 0; }
.page-container .section-content .one-half:nth-child(2) .content-container, .page-container .section-content .one-half:nth-child(2) .image-container {
  padding: 0px 0px 0px 30px; }
.page-container .section-content .one-half:nth-child(2) .lSSlideOuter {
  padding: 0 0 0 30px; }
.page-container .section-content .one-half h2 {
  margin-top: 0; }
.page-container .section-content .one-half .content-container {
  -webkit-align-self: flex-start;
  -moz-align-self: flex-start;
  -ms-align-self: flex-start;
  align-self: flex-start; }
  .page-container .section-content .one-half .content-container p {
    margin-top: 0; }
.page-container .section-content .one-half .image-container {
  -webkit-align-self: center;
  -moz-align-self: center;
  -ms-align-self: center;
  align-self: center;
  width: 100%; }
  .page-container .section-content .one-half .image-container img {
    width: calc(100% - 4px);
    height: auto; }
.page-container .specifications {
  padding-top: 30px; }
  .page-container .specifications ul {
    margin-top: 0;
    padding-left: 20px;
    max-width: 700px; }
    .page-container .specifications ul li {
      max-width: calc(100% - 30px); }

.footer {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 15px 30px 15px 30px;
  background: #404041;
  color: #ece8e8;
  position: relative;
  width: 100%;
  text-align: center; }
  .footer a {
    color: #ece8e8; }
    .footer a:hover {
      color: #b9231c; }
  .footer .flex-wrapper {
    padding: 6px 0;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    color: #ece8e8; }
    .footer .flex-wrapper.logo {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      .footer .flex-wrapper.logo img {
        width: 150px;
        height: auto; }
    .footer .flex-wrapper.copyright {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      padding-bottom: 0;
      font-size: 0.8em; }

@media only screen and (max-width: 800px) {
  #nav {
    display: none; }

  #mobile-nav {
    display: block; }

  #mobile-nav-drawer {
    display: block; }

  .page-container .section-content .one-half:nth-child(2) .content-container,
  .page-container .section-content .one-half:nth-child(2) .image-container,
  .page-container .section-content .one-half:first-child .content-container,
  .page-container .section-content .one-half:first-child .image-container {
    padding: 0 30px; }

  .page-container .section-content .one-half:nth-child(2) .content-container {
    padding-top: 30px; } }

/*# sourceMappingURL=main.css.map */
