/* Variables */
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
.flex-wrapper-column {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }

.flex-wrapper {
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify; }
  .flex-wrapper.flex-end {
    -webkit-align-content: flex-end;
    -moz-align-content: flex-end;
    -ms-align-content: flex-end;
    align-content: flex-end;
    -webkit-align-items: flex-end;
    -moz-align-items: flex-end;
    -ms-align-items: flex-end;
    align-items: flex-end; }
  .flex-wrapper.flex-start {
    -webkit-align-content: flex-start;
    -moz-align-content: flex-start;
    -ms-align-content: flex-start;
    align-content: flex-start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }
  .flex-wrapper.justify-start {
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }
  .flex-wrapper.justify-end {
    -webkit-justify-content: flex-end;
    -moz-justify-content: flex-end;
    -ms-justify-content: flex-end;
    justify-content: flex-end;
    -ms-flex-pack: flex-end; }
  .flex-wrapper.justify-center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
  .flex-wrapper .full {
    width: 100%;
    position: relative; }
  .flex-wrapper .column {
    -webkit-flex-flow: column;
    -moz-flex-flow: column;
    -ms-flex-flow: column;
    flex-flow: column; }
  .flex-wrapper .align-start {
    -webkit-align-self: flex-start;
    -moz-align-self: flex-start;
    -ms-align-self: flex-start;
    align-self: flex-start; }
  .flex-wrapper .one-half {
    flex: 2 1;
    position: relative;
    width: 50%;
    min-width: 307px;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
    .flex-wrapper .one-half.center {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center;
      text-align: center; }
    .flex-wrapper .one-half.flex-end {
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: flex-end; }
    .flex-wrapper .one-half.flex-start {
      -webkit-align-content: flex-start;
      -moz-align-content: flex-start;
      -ms-align-content: flex-start;
      align-content: flex-start;
      -webkit-align-items: flex-start;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      align-items: flex-start; }
    .flex-wrapper .one-half.justify-start {
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start; }
  .flex-wrapper.center, .flex-wrapper .center {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  .flex-wrapper .one-third {
    width: calc(33.333% - 30px);
    min-width: 214px;
    position: relative; }
  .flex-wrapper .one-third-flex {
    flex: 3 1;
    width: calc(33.333% - 30px);
    min-width: 214px; }
  .flex-wrapper .one-fourth {
    width: 25%;
    min-width: 200px; }
  .flex-wrapper .two-thirds {
    width: calc(66.666% - 30px);
    min-width: 400px; }
    .flex-wrapper .two-thirds img {
      max-width: 100%;
      max-height: 100%; }
  .flex-wrapper .two-thirds-flex {
    flex: 2 1;
    width: calc(66.666% - 30px);
    min-width: 400px; }
  .flex-wrapper .full {
    width: 100%; }

@media only screen and (max-width: 736px) {
  .flexbox .one-half, .section .one-half {
    width: 100%;
    min-width: 200px; }
  .flexbox .one-third, .section .one-third {
    width: 100%;
    margin-bottom: 30px; }
  .flexbox .one-third-flex, .section .one-third-flex {
    margin-bottom: 30px; }
  .flexbox .two-thirds, .section .two-thirds {
    width: 100%;
    min-width: 300px; } }
html, body {
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
  color: #404041;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #ece8e8;
  overflow-x: hidden; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Custom Styles
   ========================================================================== */
button {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 0;
  transition: all 0.5s linear;
  font-size: 1em;
  font-weight: 600; }
  button:hover {
    cursor: pointer; }
  button.btn-transparent {
    border: 2px solid #ece8e8;
    background: rgba(236, 232, 232, 0);
    color: #ece8e8; }
    button.btn-transparent:hover {
      background: #ece8e8;
      color: #404041; }
  button.btn-red {
    background: rgba(185, 35, 28, 0);
    border: 2px solid #b9231c;
    color: #b9231c; }
    button.btn-red:hover {
      background: #b9231c;
      color: #ece8e8; }

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s linear; }
  a:hover {
    color: #b9231c; }

h1 {
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: 15px;
  margin-bottom: 0;
  text-transform: capitalize;
  color: #ece8e8;
  font-weight: 600; }

.header {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  -ms-align-content: flex-end;
  align-content: flex-end;
  padding: 10px 30px; }
  .header #logo {
    max-width: 150px;
    position: relative;
    display: inline-block; }
    .header #logo img {
      max-width: 100%;
      height: auto; }
  .header #nav {
    font-size: 15px; }
    .header #nav ul {
      list-style: none; }
      .header #nav ul li {
        display: inline-block;
        padding: 0 10px 0 0; }
        .header #nav ul li:first-child {
          padding-left: 0; }
        .header #nav ul li.current_page_item a {
          padding-bottom: 5px;
          color: #b9231c;
          border-bottom: 1px solid #b9231c; }

.main-content-wrap {
  max-width: 1600px; }
  .main-content-wrap .header-image {
    position: relative;
    height: 300px;
    width: 100%;
    color: #ece8e8; }
    .main-content-wrap .header-image .content-container {
      position: absolute;
      max-width: 600px;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 300;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      -ms-justify-content: flex-start;
      justify-content: flex-start;
      -ms-flex-pack: flex-start;
      -webkit-align-content: center;
      -moz-align-content: center;
      -ms-align-content: center;
      align-content: center;
      padding: 0 30px; }
      .main-content-wrap .header-image .content-container .copy {
        -webkit-align-self: flex-start;
        -moz-align-self: flex-start;
        -ms-align-self: flex-start;
        align-self: flex-start; }
    .main-content-wrap .header-image .image-overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(55, 40, 77, 0.6);
      z-index: 200; }
    .main-content-wrap .header-image .image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: -10%, 0;
      z-index: 100; }

section {
  display: block;
  max-width: 100%;
  padding: 60px 30px;
  color: #404041;
  position: relative; }
  section h1 {
    color: #404041; }
    section h1:first-child {
      margin-top: 0; }
  section .intro-copy {
    max-width: 600px; }
  section .image-row-wrap {
    padding: 15px 0px;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }
    section .image-row-wrap .one-fourth .content-container {
      transition: all 0.5s linear;
      padding: 10px;
      position: relative;
      width: 100%; }
    section .image-row-wrap .one-fourth:first-child .content-container {
      padding-left: 0; }
    section .image-row-wrap .one-fourth:last-child .content-container {
      padding-right: 0; }
  section#tools-and-facilities .flex-wrapper, section#products .flex-wrapper {
    height: 40vh;
    min-height: 200px;
    max-height: 600px;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    -ms-justify-content: flex-start;
    justify-content: flex-start;
    -ms-flex-pack: flex-start; }
    section#tools-and-facilities .flex-wrapper .one-half.image, section#tools-and-facilities .flex-wrapper .one-half .image, section#products .flex-wrapper .one-half.image, section#products .flex-wrapper .one-half .image {
      margin: 0 0 0 30px;
      transition: all 0.5s linear;
      width: 100%;
      height: 100%;
      min-height: 100px;
      background-repeat: no-repeat;
      background-position: center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    section#tools-and-facilities .flex-wrapper .one-half a, section#products .flex-wrapper .one-half a {
      -webkit-align-self: flex-end;
      -moz-align-self: flex-end;
      -ms-align-self: flex-end;
      align-self: flex-end; }
  section#products .flex-wrapper {
    height: auto;
    max-height: 10000px;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start; }
    section#products .flex-wrapper .one-half .content-container {
      width: 100%; }
      section#products .flex-wrapper .one-half .content-container .image {
        min-height: 100px;
        height: 40vh;
        max-height: 300px; }
      section#products .flex-wrapper .one-half .content-container a {
        float: right;
        padding-top: 20px; }
    section#products .flex-wrapper .one-half:first-child .content-container {
      margin-right: 15px; }
    section#products .flex-wrapper .one-half:last-child {
      margin-left: 15px; }
      section#products .flex-wrapper .one-half:last-child .content-container {
        margin-right: 15px; }
    section#products .flex-wrapper .one-half .image {
      margin-left: 0; }
  section .image-container {
    border: 2px solid #404041;
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative; }
    section .image-container .image {
      transition: all 0.5s linear;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    section .image-container .image-overlay {
      background: rgba(64, 64, 65, 0);
      transition: all 0.5s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2; }
  section .caption {
    padding-top: 10px;
    font-size: 0.9em; }
  section#capabilities, section#products {
    background: #b2b2b2; }
    section#capabilities h1, section#products h1 {
      color: #b9231c; }

#lightslider {
  padding: 15px 0; }

.lSAction > a {
  top: 80px;
  background: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 40px;
  color: #ece8e8;
  font-weight: 600;
  transition: color 1s linear; }
  .lSAction > a:hover {
    color: #b9231c; }

.lSAction > .lSNext {
  right: 0px; }
  .lSAction > .lSNext:before {
    content: "\f105"; }

.lSAction > .lSPrev:before {
  content: "\f104"; }

.lslide .image-container {
  width: auto; }

.image-slide-wrapper {
  height: 250px;
  position: relative;
  width: 100%;
  padding: 15px 0; }
  .image-slide-wrapper .slider-container {
    overflow: hidden;
    width: 100%;
    height: 250px;
    display: inline-block;
    position: absolute; }
    .image-slide-wrapper .slider-container .arrows {
      width: 50px;
      position: absolute;
      height: 150px;
      z-index: 200;
      transition: all 0.5s linear;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      .image-slide-wrapper .slider-container .arrows i {
        font-size: 50px;
        color: #ece8e8;
        transition: all 0.5s linear; }
      .image-slide-wrapper .slider-container .arrows:hover {
        cursor: pointer; }
        .image-slide-wrapper .slider-container .arrows:hover i {
          color: #b9231c; }
      .image-slide-wrapper .slider-container .arrows.slide-left {
        left: 0; }
      .image-slide-wrapper .slider-container .arrows.slide-right {
        right: 0; }
    .image-slide-wrapper .slider-container .images {
      width: 10000000px;
      height: 150px;
      display: inline-block;
      position: absolute;
      transition: all .5s linear; }
      .image-slide-wrapper .slider-container .images .slider-item {
        float: left;
        display: inline-block;
        margin-right: 15px;
        position: relative;
        width: 30vw;
        max-width: 300px;
        height: 100%; }
        .image-slide-wrapper .slider-container .images .slider-item:last-child {
          margin-right: 0; }
        .image-slide-wrapper .slider-container .images .slider-item:first-child {
          padding-left: 0; }
        .image-slide-wrapper .slider-container .images .slider-item:hover {
          color: #b9231c;
          cursor: pointer; }
          .image-slide-wrapper .slider-container .images .slider-item:hover .image-container {
            border: 2px solid #b9231c; }
            .image-slide-wrapper .slider-container .images .slider-item:hover .image-container .image-overlay {
              background: rgba(64, 64, 65, 0.6); }

.footer {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between;
  padding: 15px 30px 15px 30px;
  background: #404041;
  color: #ece8e8;
  position: relative;
  width: 100%; }
  .footer .flex-wrapper {
    padding: 15px 0; }
    .footer .flex-wrapper.copyright {
      padding-bottom: 0;
      font-size: 0.8em; }
    .footer .flex-wrapper .row {
      width: 100%; }

/*# sourceMappingURL=main.css.map */
