@import './vars.scss';
@import './_flexbox.scss';
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

html, body {
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
  color: $gray;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: $white;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

button {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 0;
  transition: all 0.5s linear;
  font-size: 1em;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
  &.btn-transparent {
    border: 2px solid $white;
    background: $white-invisible;
    color: $white;
    &:hover {
      background: $white;
      color: $gray;
    }
  }
  &.btn-red {
    background: $red-invisible;
    border: 2px solid $red;
    color: $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s linear;
  &:hover {
    color: $red;
  }
  &.red {
    color: $red;
    border-bottom: 1px solid $red;
    transition: all 0.5s linear;
    &:hover {
      color: $gray;
      border-bottom: 1px solid $gray;
    }
  }
}

h1 {
	font-size: 2em;
	line-height: 1.2em;
	padding-bottom: 15px;
	margin-bottom: 0;
	text-transform: capitalize;
  color: $white;
  font-weight: 600;
}

p {
  max-width: 600px;
}

// Navigation
.header {
	@include justify-content(space-between);
  @include align-content(flex-end);
  padding: 10px 30px;
  #logo {
    max-width: 150px;
    position: relative;
    display: inline-block;
    img {
      max-width: 100%;
      height: auto;
    }
  }
	#nav {
    font-size: 15px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px 0 0;
        &:first-child {
          padding-left: 0;
        }
        &.current_page_item a{
          padding-bottom: 5px;
          color: $red;
          border-bottom: 1px solid $red;
        }
      }
    }
	}
}

// Page Banner
.main-content-wrap {
  max-width: 1600px;
  .header-image {
    position: relative;
    min-height: 330px;
    max-height: 600px;
    height: 30vh;
    width: 100%;
    color: $white;
    .content-container {
      position: absolute;
      max-width: 1000px;
      z-index: 300;
      left: calc(50% - 500px);
      top: 0;
      bottom: 0;
      @include justify-content(flex-start);
      padding: 0 30px;
      &.page-content {
        @include justify-content(space-between);
      }
      .copy-container {
        width: 100%;
        @include align-self(flex-start);
        &.intro-copy {
          margin-bottom: -30px;
          background: $white;
          color: $gray;
          padding: 30px 0;
          height: 70%;
          p {
            margin: 0 auto;
          }
        }
      }
      a {
        display: block;
      }
    }
    .image-overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: $purple-transparent;
      z-index: 200;
    }
    .image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: -10%, 0;
      z-index: 100;
    }
  }
}

// Sections
section {
  display: block;
  max-width: 100%;
  padding: 60px 30px;
  color: $gray;
  position: relative;
  .section-content {
    max-width: 1000px;
    margin: 0 auto;
  }
  h1 {
    color: $gray;
    &:first-child {
      margin-top: 0;
    }
  }
  .intro-copy {
    max-width: 600px;
  }
  .image-row-wrap {
    padding: 15px 0px;
    @include align-items(flex-start);
    .one-fourth {
      .content-container {
        transition: all 0.5s linear;
        padding: 10px;
        position: relative;
        width: 100%;
      }
      &:first-child {
        .content-container,  {
          padding-left: 0;
        }
      }
      &:last-child {
        .content-container {
          padding-right: 0;
        }
      }
    }
  }
  &#tools-and-facilities .flex-wrapper, &#products .flex-wrapper {
    height: 40vh;
    min-height: 200px;
    max-height: 600px;
    @include align-items(stretch);
    @include justify-content(flex-start);
    .one-half.image, .one-half .image {
      margin: 0 0 0 30px;
      transition: all 0.5s linear;
      width: 100%;
      height: 100%;
      min-height: 100px;
      background-repeat: no-repeat;
      background-position: center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    }
    .one-half a {
      @include align-self(flex-end);
    }
  }
  &#products .flex-wrapper {
    height: auto;
    max-height: 10000px;
    @include align-items(flex-start);
    .one-half {
      .content-container {
        width: 100%;
        .image {
          min-height: 100px;
          height: 40vh;
          max-height: 300px;
        }
        a {
          float: right;
          padding-top: 20px;
        }
      }
      &:first-child {
        .content-container {
          margin-right: 15px;
        }
      }
      &:last-child {
        margin-left: 15px;
        .content-container {
          margin-right: 15px;
        }
      }
      .image {
        margin-left: 0;
      }
    }
  }
  .image-container {
    // min-width: 150px;
    // min-height: 150px;
    // width: 100%;
    // height: 100%;
    overflow: hidden;
    position: relative;
    img {
      border: 2px solid $gray;
      max-width: 100%;
      max-height: 100%;
    }
    .image {
      transition: all 0.5s linear;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    }
    .image-overlay {
      background: $gray-invisible;
      transition: all 0.5s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  .caption {
    padding-top: 10px;
    font-size: 0.9em;
  }

  &#capabilities, &#products, &#contact {
    background: $light-gray;
    h1 {
      color: $red;
    }
  }
  &#contact {
    .content-wrap {
      max-width: 400px;
    }
    .description {
      span {
        display: block;
      }
    }
  }
  &#leadership {
    .team-wrapper {
      .one-half {
        .content-wrap {
          @include justify-content(space-between);
          a {
            @include align-self(flex-end);
            width: 100%;
          }
        }
      }
    }
    .leadership-item {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      max-width: 300px;
      padding: 30px;
      background: $true-white;
      text-align: center;
      .thumbnail img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        padding-bottom: 15px;
      }
      .title {
        font-weight: 600;
      }
    }
  }
  &#contact {
    .content-wrap {
      padding: 30px;
    }
  }
}


#lightslider {
  padding: 15px 0;
  &.capabilities-slider {

  }
}

.lSAction>a {
  top: 80px;
  background:none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 40px;
  color: $white;
  font-weight: 600;
  transition: color 1s linear;
  &:hover {
    color: $red;
  }
}

.lSAction>.lSNext {
  right: 0px;
  &:before {
    content: "\f105";
  }
}

.lSAction>.lSPrev {
  &:before {
    content: "\f104";
  }
}

.lslide {
  .image-container {
    width: auto;
  }
}

// Image slider
.image-slide-wrapper {
  height: 250px;
  position: relative;
  width: 100%;
  padding: 15px 0;
  .slider-container {
    overflow: hidden;
    width: 100%;
    height: 250px;
    display: inline-block;
    position: absolute;
    .arrows {
      width: 50px;
      position: absolute;
      height: 150px;
      z-index: 200;
      transition: all 0.5s linear;
      @include justify-content(center);
      @include align-items(center);
      i {
        font-size: 50px;
        color: $white;
        transition: all 0.5s linear;
      }
      &:hover {
        cursor: pointer;
        i {
          color: $red;
        }
      }
      &.slide-left {
        left: 0;
      }
      &.slide-right {
        right: 0;
      }
    }
    .images {
      width: 10000000px;
      height: 150px;
      display: inline-block;
      position: absolute;
      transition: all .5s linear;
      .slider-item {
        float: left;
        display: inline-block;
        margin-right: 15px;
        position: relative;
        width: 30vw;
        max-width: 300px;
        height: 100%;
        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          padding-left: 0;
        }
        &:hover {
          color: $red;
          cursor: pointer;
          .image-container {
            border: 2px solid $red;
            .image-overlay {
              background: $gray-transparent;
            }
          }
        }
      }
    }
  }
}

// Pages
.page-container {
  .section-content {
    .one-half {
      &:first-child {
        .content-container, .image-container {
          padding: 30px 30px 0px 0;
        }
      }
      &:last-child {
        .content-container, .image-container {
          padding: 30px 0px 0px 30px;
        }
      }
      .content-container {
        @include align-self(flex-start);
        h2 {
          margin-top: 0;
        }
      }
      .image-container {
        @include align-self(center);
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}


// Footer
.footer {
  @include justify-content(space-between);
  padding: 15px 30px 15px 30px;
  background: $gray;
  color: $white;
  position: relative;
  width: 100%;
  .flex-wrapper {
    padding: 15px 0;
    &.copyright {
      padding-bottom: 0;
      font-size: 0.8em;
    }
    .row {
      width: 100%;
    }
  }
}
