@import './vars.scss';
@import './_flexbox.scss';
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

html, body {
  font-family: 'OpenSans', 'Helvetica', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
  color: $gray;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: $white;
  overflow-x: hidden;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

button {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 0;
  transition: all 0.5s linear;
  font-size: 1em;
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
  &.btn-transparent {
    border: 2px solid $white;
    background: $white-invisible;
    color: $white;
    &:hover {
      background: $white;
      color: $gray;
    }
  }
  &.btn-red,  {
    background: $red-invisible;
    border: 2px solid $red;
    color: $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }
}

div.wpforms-container-full .wpforms-form button[type=submit] {
  background: $red !important;
  border: 2px solid $red !important;
  color: $white !important;
  width: 100%;
  &:hover {
    background: $red-transparent !important;
    color: $red !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s linear;
  &:hover {
    color: $red;
  }
  &.red {
    color: $red;
    border-bottom: 1px solid $red;
    transition: all 0.5s linear;
    &:hover {
      color: $gray;
      border-bottom: 1px solid $gray;
    }
  }
}

h1, h2, h4 {
  font-weight: 700;
}

h1 {
	font-size: 2em;
	line-height: 1.2em;
	padding-bottom: 15px;
	margin-bottom: 0;
	text-transform: capitalize;
  color: $white;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
}

h4 {
  color: $red;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 0;
}

p {
  max-width: 700px;
  line-height: 1.7em;
  font-size: 1em;
}

ul li {
  padding: 0 0 12px 0;
}

.two-column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

// Navigation
.header {
	@include justify-content(space-between);
  @include align-content(flex-end);
  padding: 10px 30px;
  border-bottom: 2px solid $gray;
  #logo {
    max-width: 150px;
    position: relative;
    display: inline-block;
    img {
      max-width: 100%;
      height: auto;
    }
  }
	#nav {
    font-size: 15px;
    ul {
      list-style: none;
      li {
        display: inline-block;
        padding: 0 10px 0 0;
        &:first-child {
          padding-left: 0;
        }
        &.current_page_item a{
          padding-bottom: 5px;
          color: $red;
          border-bottom: 1px solid $red;
        }
      }
    }
	}
}

// Page Banner
.main-content-wrap {
  max-width: 1600px;
  position: relative;
  &.page-container {
    .header-image {
      height: 330px;
      .content-container {
        padding: 0 30px;
      }
    }
  }
  .header-image {
    position: relative;
    min-height: 330px;
    max-height: 600px;
    height: 30vh;
    width: 100%;
    color: $white;
    &.short {
      height: 10vh;
      min-height: 110px;
    }
    .content-container {
      position: absolute;
      padding: 60px 0px;
      max-width: 1100px;
      z-index: 300;
      left: calc(50% - 500px);
      top: 0;
      bottom: 0;
      @include justify-content(flex-start);
      .copy-container {
        width: 100%;
        @include align-self(flex-start);
        &.intro-copy {
          margin-bottom: -30px;
          background: $white;
          color: $gray;
          padding: 30px 0;
          height: 70%;
          p {
            margin: 0 auto;
          }
        }
      }
      a {
        display: block;
      }
    }
    .image-overlay {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: $purple-transparent;
      z-index: 200;
    }
    .image {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-position: -10%, 0;
      z-index: 100;
    }
  }
  .header-content-container {
    position: relative;
    width: calc(70% + 60px);
    max-width: 1100px;
    margin: 0 auto;
    z-index: 300;
    margin-top: -300px;
    h1, .copy-container {
      width: 100%;
    }
    .copy-container {
      background: $white;
      padding: 60px 30px 30px 30px;
      p, ul {
        max-width: 700px;
        margin: 0 auto;
        padding: 0 0 1.5em 0;
      }
      ul {
        padding: 0 0 1.5em 2.5em;
      }
    }
  }
}

// Sections
section {
  display: block;
  max-width: 100%;
  padding: 30px 30px;
  color: $gray;
  position: relative;
  .section-content {
    max-width: 1100px;
    margin: 0 auto;
  }
  .section-header-container {
    @include align-items(center);
    padding-bottom: 30px;
    h1 {
      padding-right: 15px;
      color: $gray;
      &:first-child {
        margin-top: 0;
      }
    }
    .line {
      flex: 2 1;
      height: 6px;
      background: $gray;
      float: left;
    }
  }
  h1 {
    color: $gray;
    &:first-child {
      margin-top: 0;
    }
  }
  .intro-copy {
    max-width: 700px;
  }
  .image-row-wrap {
    padding: 15px 0px;
    @include align-items(flex-start);
    .one-fourth {
      .content-container {
        transition: all 0.5s linear;
        padding: 10px;
        position: relative;
      }
      &:first-child {
        .content-container,  {
          padding-left: 0;
        }
      }
      &:last-child {
        .content-container {
          padding-right: 0;
        }
      }
    }
  }
  &#tools-and-facilities .tools-content, &#products .tools-content {
    height: 40vh;
    min-height: 330px;
    max-height: 600px;
    @include align-items(stretch);
    @include justify-content(flex-start);
    .one-half {
      @include justify-content(flex-start);
    }
    .one-half.image, .one-half .image {
      margin: 0 0 0 30px;
      transition: all 0.5s linear;
      width: 100%;
      height: 100%;
      min-height: 100px;
      background-repeat: no-repeat;
      background-position: center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    }
    .one-half a {
      @include align-self(flex-end);
    }
  }
  &#products {
    .flex-wrapper {
      height: auto;
      max-height: 10000px;
      &.section-header-container {
        @include align-items(center);
      }
      .one-half {
        .content-container {
          @include justify-content(flex-start);
          .caption {
            font-size: 1.1em;
            line-height: 1.7em;
            font-weight: 700;
          }
          .image {
            background-repeat: no-repeat;
            background-position: center center;
           -webkit-background-size: cover;
           -moz-background-size: cover;
           -o-background-size: cover;
           background-size: cover;
            min-height: 300px;
            height: 40vh;
            width: 100%;
            max-height: 500px;
          }
          a {
            @include align-self(flex-end);
            float: right;
            padding-top: 20px;
          }
        }
        &:first-child {
          .content-container {
            margin-right: 30px;
          }
        }
        &:last-child {
          margin-left: 30px;
          .content-container {
            margin-right: 30px;
          }
        }
        .image {
          margin-left: 0;
        }
      }
    }
  }
  .image-container {
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      border: 2px solid $gray;
      max-width: 100%;
      max-height: 100%;
    }
    .image {
      transition: all 0.5s linear;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    }
    .image-overlay {
      background: $gray-invisible;
      transition: all 0.5s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  .caption {
    padding-top: 10px;
    font-size: 0.9em;
  }
  &#contact {
    background: $light-gray;
    .content-wrap {
      max-width: 400px;
      p {
        margin: 0;
      }
    }
    .description {
      span {
        display: block;
      }
    }
  }
  &#leadership {
    .team-wrapper {
      .one-half {
        .content-wrap {
          @include justify-content(space-between);
          a {
            @include align-self(flex-end);
            width: 100%;
          }
        }
      }
    }
    .leadership-item {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      max-width: 300px;
      padding: 30px;
      background: $true-white;
      text-align: center;
      .thumbnail img{
        height: 150px;
        width: 150px;
        border-radius: 50%;
        padding-bottom: 15px;
      }
      .title {
        font-weight: 600;
      }
    }
  }
  &#contact {
    .content-wrap {
      padding: 30px;
    }
  }
  &#experience-expertise {
    .section-content {
      &:not( .title ) {
        padding-bottom: 30px;
      }
    }
  }
  &#news {
    background: $true-white;
    color: $gray;
    margin: 15px 0;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 6px 3px #e7e7e7;
    -moz-box-shadow: 0px 0px 6px 3px #e7e7e7;
    box-shadow: 0px 0px 6px 3px #e7e7e7;
    .title {
      font-size: 1.1em;
      // padding-bottom: 10px;
      font-weight: bold;
    }
    .lslide>a {
      color: $gray;
      &:hover {
        color: $red;
      }
    }
    .lSAction>a {
      top: 40%;
      color: $white;
      &:hover {
        color: $red;
      }
    }
  }
  &.team-title {
    padding-bottom: 0;
  }
  &.team-wrapper {
    padding-top: 20px;
  }
  &.buttons {
    max-width: 1100px;
    margin: 0 auto;
    .one-half {
      &:first-child {
        .content-container {
          padding: 30px 30px 30px 0;
        }
      }
      &:last-child {
        .content-container {
          padding: 30px 0 30px 30px;
        }
      }
      .content-container {
        width: 100%;
      }
    }

    button {
      width: 100%;
      padding: 25px 15px;
    }
  }
  &.post {
    .featured-image {
      margin-bottom: 30px;
      max-width: 700px;
      height: 50vh;
      max-height: 500px;
      min-height: 150px;
      background-repeat: no-repeat;
      background-position: center center;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
   }
  }
}

.leadership-item {
  padding-bottom: 60px;
  .one-fourth {
    @include justify-content(center);
    text-align: center;
  }
  .thumbnail img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-bottom: 15px;
  }
  .three-fourths {
    @include justify-content(flex-start);
    .content-container {
      padding-left: 30px;
    }
  }
}

// Form
div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-weight: 600 !important;
}
div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: $red !important;
}

div.wpforms-container-full .wpforms-form input[type=date],
div.wpforms-container-full .wpforms-form input[type=datetime],
div.wpforms-container-full .wpforms-form input[type=datetime-local],
div.wpforms-container-full .wpforms-form input[type=email],
div.wpforms-container-full .wpforms-form input[type=month],
div.wpforms-container-full .wpforms-form input[type=number],
div.wpforms-container-full .wpforms-form input[type=password],
div.wpforms-container-full .wpforms-form input[type=range],
div.wpforms-container-full .wpforms-form input[type=search],
div.wpforms-container-full .wpforms-form input[type=tel],
div.wpforms-container-full .wpforms-form input[type=text],
div.wpforms-container-full .wpforms-form input[type=time],
div.wpforms-container-full .wpforms-form input[type=url],
div.wpforms-container-full .wpforms-form input[type=week],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
  background-color: $white !important;
  border: 2px solid $gray !important;
}

// Image Slider
#lightslider {
  padding: 15px 0;
}

.lSAction>a {
  top: 80px;
  background:none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 40px;
  color: $white;
  font-weight: 600;
  transition: color 1s linear;
  &:hover {
    color: $red;
  }
}

.lSAction>.lSNext {
  right: 0px;
  &:before {
    content: "\f105";
  }
}

.lSAction>.lSPrev {
  &:before {
    content: "\f104";
  }
}

.lslide {
  .image-container {
    width: auto;
  }
}

.page-container {
  section {
    .content-container {
      a {
        border-bottom: 2px solid;
        border-color: $red;
        color: $red;
        &:hover {
          border-color: 2px solid $gray;
          color: $gray;
        }
      }
    }
  }
  .lightSlider {
    padding: 30px 30px 30px 0;
    .image {
      img {
        border: 2px solid $gray;
        width: calc(100% - 4px);
        height: auto;
      }
    }
  }
}



// Pages
.page-container {
  .section-content {
    &.title-start-wrap {
      @include justify-content(flex-start);
      .one-half-title-start {
        width: 50%;
        h2 {
          padding-right: 30px;
          margin-bottom: 0;
        }
      }
    }
    &.title-end-wrap {
      @include justify-content(flex-end);
      .one-half-title-end {
        width: 50%;
        h2 {
          padding-left: 30px;
          margin-bottom: 0;
        }
      }
    }
    .one-half {
      &:first-child {
        .content-container, .image-container {
          padding: 30px 30px 0px 0;
        }
        .lSSlideOuter {
          padding: 0 30px 0 0;
        }
      }
      &:nth-child(2) {
        .content-container, .image-container {
          padding: 30px 0px 0px 30px;
        }
        .lSSlideOuter {
            padding: 0 0 0 30px;
        }
      }
      h2 {
        margin-top: 0;
      }
      .content-container {
        @include align-self(flex-start);
        p {
          margin-top: 0;
        }
      }
      .image-container {
        @include align-self(center);
        width: 100%;
        img {
          width: calc(100% - 4px);
          height: auto;
        }
      }
    }
  }
  .specifications {
    padding-top: 30px;
    ul {
      margin-top: 0;
      padding-left: 20px;
      max-width: 700px;
      li {
        max-width: calc(100% - 30px);
      }
    }
  }
  .experience {
    ol {
      padding-left: 20px;
      max-width: 700px;
      li {
        padding-bottom: 15px;
      }
    }
  }
}


// Footer
.footer {
  @include justify-content(space-between);
  padding: 15px 30px 15px 30px;
  background: $gray;
  color: $white;
  position: relative;
  width: 100%;
  .flex-wrapper {
    padding: 15px 0;
    &.copyright {
      padding-bottom: 0;
      font-size: 0.8em;
    }
    .row {
      width: 100%;
    }
  }
}
