@import "./vars.scss";
@import "./_flexbox.scss";
@import url("font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

html,
body {
  font-family: "OpenSans", "Helvetica", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 1.5em;
  color: $gray;
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $true-white;
  overflow-x: hidden;
  -webkit-print-color-adjust: exact;
  @media print {
    size: 5.5in 8.5in;
    margin: 70pt 20pt 70pt;
    // -webkit-transform: rotate(-90deg) scale(0.68, 0.68);
    // -moz-transform: rotate(-90deg) scale(0.58, 0.58);
    // zoom: 200%;
  }
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Custom Styles
   ========================================================================== */

button {
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 0;
  font-family: "OpenSans", "Helvetica", sans-serif;
  transition: all 0.5s linear;
  font-size: 1em;
  font-weight: 700;
  letter-spacing: 0.1em;
  &:hover {
    cursor: pointer;
  }
  &:focus,
  &:active {
    outline: none;
  }
  &.btn-transparent {
    border: 2px solid $white;
    background: $white-invisible;
    color: $white;
    &:hover {
      background: $white;
      color: $gray;
    }
  }
  &.btn-red {
    background: $red-invisible;
    border: 2px solid $red;
    color: $red;
    &:hover {
      background: $red;
      color: $white;
    }
  }
}

// titles
.hr-titles {
  position: relative;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 70px;
  line-height: 15px;
  &:before {
    content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    top: 5px;
    height: 2px;
    background: $white;
  }
  &.tall-title {
    span {
      margin-top: -33px;
    }
  }
  span {
    text-transform: uppercase;
    letter-spacing: 0.3em;
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 27px;
    padding-right: 27px;
    max-width: 70%;
    line-height: 1.3em;
    background: #fff;
    margin-top: -12px;
  }
  &.read-more {
    span {
      color: $red;
    }
  }
}

div.wpforms-container-full .wpforms-form button[type="submit"] {
  background: $red !important;
  border: 2px solid $red !important;
  color: $white !important;
  width: 100%;
  &:hover {
    background: $red-transparent !important;
    color: $red !important;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.5s linear;
  &:hover {
    color: $red;
  }
  &.red {
    color: $red;
    border-bottom: 1px solid $red;
    transition: all 0.5s linear;
    &:hover {
      color: $gray;
      border-bottom: 1px solid $gray;
    }
  }
}

h1,
h2,
h4 {
  font-weight: 700;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
  padding-bottom: 15px;
  margin-bottom: 0;
  text-transform: capitalize;
  color: $white;
}

h2 {
  font-size: 1.5em;
  line-height: 1.3em;
}

h4 {
  color: $red;
  font-size: 1.2em;
  line-height: 1.3em;
  margin: 0;
}

p {
  max-width: 1000px;
  line-height: 1.7em;
  font-size: 1em;
}

ul li {
  padding: 0 0 12px 0;
}

ol {
  padding-left: 30px;
  max-width: 1000px;
  li {
    padding-bottom: 15px;
  }
}

.two-column {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
}

// Navigation
.header-container {
  width: 100%;
  @include justify-content(space-between);
  @include align-content(flex-end);
  max-width: 1300px;
  margin: 0 auto;
}
.header {
  @include justify-content(space-between);
  @include align-content(flex-end);
  padding: 10px 30px;
  border-bottom: 1px solid $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500000;
  background: white;
  #logo {
    max-width: 150px;
    position: relative;
    display: inline-block;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  #nav {
    font-size: 15px;
    font-family: "OpenSans", "Helvetica", sans-serif;
    padding-top: 10px;
    ul {
      padding-left: 5px;
      list-style: none;
      margin: 0;
      @include align-self(flex-end);
      li {
        display: inline-block;
        padding: 0 15px 0 0;
        position: relative;
        margin-bottom: 0;
        padding-bottom: 30px;
        margin-bottom: -30px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.05em;
        &:first-child {
          padding-left: 0;
        }
        &.current_page_item {
          a {
            padding-bottom: 5px;
            color: $red;
            border-bottom: 1px solid $red;
          }
          .subnav li a {
            color: $gray;
            border-bottom: none;
            &:hover {
              color: $red;
            }
          }
        }
        .subnav {
          position: absolute;
          font-size: 12px;
          padding-left: 0;
          z-index: 500;
          background: $true-white;
          border: 1px solid $gray;
          display: none;
          margin-top: 5px;
          li {
            height: 25px;
            display: block;
            border-bottom: 1px solid $gray;
            padding: 10px 10px;
            margin: 0 10px;
            white-space: nowrap;
            color: $gray;
            &:last-child {
              border-bottom: none;
            }
            &:hover {
              color: $red;
            }
          }
        }
        &:hover {
          .subnav {
            display: block;
          }
        }
      }
    }
  }
}

#mobile-nav,
#mobile-nav-drawer {
  display: block;
}

#mobile-nav {
  display: none;
  position: fixed;
  right: 30px;
  top: 15px;
  padding: 15px 0 0 0;
  z-index: 1000;
}

.hamburger {
  z-index: 10001;
  width: 30px;
  height: 45px;
  position: relative;
  margin: 0px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: $gray;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
.hamburger span:nth-child(1) {
  top: 0px;
}
.hamburger span:nth-child(2),
.hamburger span:nth-child(3) {
  top: 9px;
}
.hamburger span:nth-child(4) {
  top: 18px;
}
.hamburger:hover span {
  background-color: $red;
  cursor: pointer;
}
.hamburger.open {
  span {
    background: $gray;
  }
  &:hover {
    span {
      background-color: $red;
    }
  }
}

.hamburger.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}
.hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.hamburger.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#mobile-nav-drawer {
  display: none;
  position: fixed;
  right: 0px;
  left: 0px;
  top: 0px;
  bottom: 100%;
  overflow-y: scroll;
  background: $white;
  color: $gray;
  transition: all 0.5s linear;
  font-size: 15px;
  font-family: "OpenSans", "Helvetica", sans-serif;
  z-index: 1;
  padding: 0px 60px 60px 60px;
  ul {
    list-style: none;
    padding-left: 0;
    .page-link {
      border-bottom: 1px solid $gray;
      padding: 10px 20px;
    }
    .subnav {
      font-size: 12px;
      margin-top: 20px;
    }
    li {
      color: $gray;
      display: block;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 0.05em;
      text-align: center;
      &.page_item {
        padding-top: 15px;
      }
    }
  }
  &.open {
    bottom: 0;
    padding-top: 96px;
  }
}

// Page Banner
.main-content-wrap {
  max-width: 1600px;
  position: fixed;
  overflow-y: scroll; /* has to be scroll, not auto */
  -webkit-overflow-scrolling: touch;
  margin: 0 auto;
  width: 100%;
  top: 67px;
  // margin-top: 67px;
  bottom: 0;
  &.page-container {
    section {
      // padding: 50px;
      padding: 30px;
    }
    h1 {
      font-size: 2em;
    }
    .header-image {
      min-height: 220px;
      height: 220px;
      .image-overlay {
        background: rgba(55, 40, 77, 0.4);
      }
      .content-container {
        padding: 0 60px;
        margin-top: 100px;
      }
    }
  }
  .header-image {
    position: relative;
    min-height: 330px;
    max-height: 600px;
    height: 30vh;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
    border-bottom: 1px solid $white;
    color: $white;
    overflow: hidden;
    &.short {
      height: 10vh;
      min-height: 110px;
      .content-container {
        top: 25px;
      }
    }
    .content-container {
      position: absolute;
      padding: 60px;
      z-index: 300;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      h1 {
        font-size: 2.3em;
      }
      p {
        margin-top: 0;
        font-size: 1.3em;
        line-height: 1.3em;
      }
      @include align-items(flex-end);
      @include justify-content(flex-start);
      .copy-container {
        width: 100%;
        @include align-self(flex-start);
        &.intro-copy {
          margin-bottom: -30px;
          background: $white;
          color: $gray;
          padding: 30px 0;
          height: 70%;
          p {
            margin: 0 auto;
          }
        }
      }
      a {
        display: block;
      }
    }
    .image-overlay {
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      top: 0;
      background: $purple-transparent;
      z-index: 200;
    }
    .image {
      position: absolute;
      left: 30px;
      right: 30px;
      bottom: 0;
      top: 0;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-print-color-adjust: exact;
      z-index: 100;
    }
  }
  .header-content-container {
    position: relative;
    width: calc(70% + 60px);
    max-width: 1100px;
    margin: 0 auto;
    z-index: 300;
    margin-top: -170px;
    h1,
    .copy-container {
      width: 100%;
    }
    .copy-container {
      background: $true-white;
      padding: 60px 30px 30px 30px;
      p,
      ul {
        max-width: 1000px;
        margin: 0 auto;
        padding: 0 0 1.5em 0;
      }
      ul {
        padding: 0 0 1.5em 2.5em;
      }
    }
  }
}

.copy-container p {
  a {
    color: $red;
    border-bottom: 1px solid $red;
    transition: all 0.5s linear;
    &:hover {
      color: $gray;
      border-bottom: 1px solid $gray;
    }
  }
}

// Sections
section {
  display: block;
  overflow: hidden;
  max-width: 100%;
  padding: 30px 30px;
  color: $gray;
  position: relative;
  .section-content {
    max-width: 1100px;
    margin: 0 auto;
    @media print {
      page-break-before: avoid;
      width: 100%;
      height: 100%;
    }
    &.centered-content {
      max-width: 1000px;
      h4 {
        text-align: center;
      }
    }
  }
  .section-header-container {
    @include align-items(center);
    padding-bottom: 30px;
    h1 {
      padding-right: 15px;
      color: $gray;
      &:first-child {
        margin-top: 0;
      }
    }
    .line {
      flex: 2 1;
      height: 3px;
      background: $gray;
      float: left;
    }
  }
  h1 {
    color: $gray;
    &:first-child {
      margin-top: 0;
    }
  }
  .intro-copy {
    max-width: 1000px;
    margin: 0 auto;
  }
  .image-row-wrap {
    padding: 30px 0px 0px 0px;
    @include align-items(flex-start);
    .one-fourth {
      a {
        width: 100%;
      }
      .content-container {
        transition: all 0.5s linear;
        padding: 10px;
        position: relative;
        &:hover {
          .image-overlay {
            background: $gray-transparent;
          }
        }
      }
      &:first-child {
        .content-container {
          padding-left: 0;
          @include justify-content(flex-start);
        }
      }
      &:last-child {
        .content-container {
          padding-right: 0;
        }
      }
    }
  }
  &#tools-and-facilities .tools-content,
  &#products .tools-content {
    height: 40vh;
    min-height: 330px;
    max-height: 600px;
    @include align-items(stretch);
    @include justify-content(flex-start);
    .one-half {
      min-width: 300px;
      @include justify-content(flex-start);
    }
    .one-half.image,
    .one-half .image {
      margin: 0 0 0 30px;
      transition: all 0.5s linear;
      width: 100%;
      height: 100%;
      min-height: 100px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .one-half a {
      @include align-self(flex-end);
    }
  }
  &#tools-and-facilities,
  &#products,
  &#leadership {
    padding-bottom: 80px;
  }
  &#products {
    .flex-wrapper {
      height: auto;
      max-height: 10000px;
      &.section-header-container {
        @include align-items(center);
      }
      .one-half {
        min-width: 300px;
        .content-container {
          @include justify-content(flex-start);
          .caption {
            font-size: 1.1em;
            line-height: 1.7em;
            font-weight: 700;
          }
          .image {
            background-repeat: no-repeat;
            background-position: center center;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            min-height: 300px;
            height: 40vh;
            width: 100%;
            max-height: 500px;
          }
          a {
            @include align-self(flex-end);
            float: right;
            padding-top: 20px;
          }
        }
        &:first-child {
          .content-container {
            margin-right: 30px;
          }
        }
        &:last-child {
          margin-left: 30px;
          .content-container {
            margin-right: 30px;
          }
        }
        .image {
          margin-left: 0;
        }
      }
    }
  }
  .image-container {
    min-width: 150px;
    min-height: 150px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    img {
      max-width: 100%;
      max-height: 100%;
    }
    .image {
      transition: all 0.5s linear;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
    .image-overlay {
      background: $gray-invisible;
      transition: all 0.5s linear;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
    }
  }
  .caption {
    padding-top: 10px;
    font-size: 0.9em;
    text-align: center;
    line-height: 1.3em;
  }
  &#contact {
    background: $light-gray;
    .content-wrap {
      max-width: 400px;
      p {
        margin: 0;
      }
    }
    .description {
      span {
        display: block;
      }
    }
  }
  &#leadership {
    .team-wrapper {
      .one-half {
        padding-bottom: 30px;
        .content-wrap {
          display: block;
          overflow: hidden;
          width: calc(100% - 60px);
          max-width: 100%;
          @include justify-content(space-between);
          .description {
            width: 100%;
          }
          a {
            @include align-self(flex-end);
            width: 100%;
            font-weight: 700;
          }
          p {
            width: 100%;
            white-space: pre-wrap; /* Webkit */
            white-space: -moz-pre-wrap; /* Firefox */
            white-space: -pre-wrap; /* Opera <7 */
            white-space: -o-pre-wrap; /* Opera 7 */
            word-wrap: break-word; /* IE */
          }
        }
      }
    }
    .leadership-item {
      @include flexbox;
      @include flex-direction(column);
      @include justify-content(center);
      @include align-items(center);
      max-width: 400px;
      margin: 0 30px;
      padding: 30px;
      background: $white;
      text-align: center;
      .thumbnail {
        text-align: center;
        img {
          height: 150px;
          width: 150px;
          border-radius: 50%;
          padding-bottom: 15px;
        }
      }
      .title {
        font-weight: 600;
        .position {
          font-weight: 400;
        }
      }
    }
  }
  &#contact {
    .content-wrap {
      padding: 30px;
    }
  }
  &#experience-expertise {
    .section-content {
      &:not(.title) {
        padding-bottom: 30px;
      }
    }
  }
  &#news {
    background: $white;
    margin: 50px 0;
    padding: 30px;
    -webkit-box-shadow: 0px 0px 6px 3px #d4d4d4;
    -moz-box-shadow: 0px 0px 6px 3px #d4d4d4;
    box-shadow: 0px 0px 6px 3px #d4d4d4;
    color: $true-white;
    .image-container {
      min-height: 200px;
    }
    .lslide {
      .caption {
        padding-top: 10px;
        position: absolute;
        top: 135px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 300;
        background: rgba(236, 232, 232, 0.8);
        border-top: 1px solid $true-white;
        transition: top 0.5s linear;
        padding: 10px 15px;
      }
      &:hover {
        .caption {
          top: 0;
        }
      }
    }

    .title {
      font-size: 1.1em;
      font-weight: 600;
    }
    .lslide > a {
      color: $gray;
      &:hover {
        color: $gray;
      }
    }
    .lightSlider.lsGrab > * {
      padding-bottom: 0;
      position: relative;
    }
    .lSAction > a {
      top: 44%;
      opacity: 1;
      font-weight: 100;
      color: $true-white;
      &:hover {
        color: $white;
      }
    }
  }
  &.team-title {
    padding-bottom: 0;
  }
  &.team-wrapper {
    padding-top: 20px;
  }
  &.buttons {
    max-width: 1000px;
    margin: 0 auto;
    .one-half {
      &:first-child {
        .content-container {
          padding: 0px 30px 30px 0;
        }
      }
      &:last-child {
        .content-container {
          padding: 0px 0 30px 30px;
        }
      }
      .content-container {
        width: 100%;
      }
    }

    button {
      width: 100%;
      padding: 25px 15px;
    }
  }
  &.post {
    .featured-image {
      margin-bottom: 30px;

      height: 50vh;
      max-height: 500px;
      min-height: 150px;
      background-repeat: no-repeat;
      background-position: center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  }
}

.page-container {
  #leadership-team,
  #experience-expertise {
    .leadership-item {
      .title {
        h4 {
          padding-bottom: 5px;
        }
        i {
          padding-top: 5px;
        }
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
    .content-container {
      p {
        &:first-child {
          margin-top: 0;
        }
      }
      &:last-child {
        padding-bottom: 0;
      }
    }
    .read-more {
      &:last-child {
        margin-bottom: 15px;
      }
    }
  }
  section#contact {
    background: $true-white;
    padding-top: 60px;
    min-height: calc(100% - 210px);
  }
}

#contact {
  .full {
    padding-bottom: 10px;
  }
  .map {
    padding-top: 0;
    border: 1px solid $gray;
  }
}

.leadership-item {
  padding-bottom: 60px;
}
.leadership-item,
.experience {
  .content-container {
    padding: 30px 0;
  }
  .abbreviated {
    height: auto;
    max-height: 396px;
    transition: max-height 1s ease-out;
    overflow: hidden;
    &.open {
      max-height: 10000px;
      transition: max-height 1s ease-out;
      height: auto;
    }
  }
  .read-more {
    margin-top: 20px;
    span {
      &:hover {
        cursor: pointer;
      }
      &.close-text,
      &.open-text {
        &.hidden {
          display: none;
        }
      }
    }
  }
  .one-fourth {
    @include justify-content(center);
    text-align: center;
  }
  .thumbnail {
    text-align: center;
    img {
      height: 200px;
      width: 200px;
      border-radius: 50%;
      padding-bottom: 15px;
    }
  }
  .three-fourths {
    @include justify-content(flex-start);
    .content-container {
      padding-left: 30px;
    }
  }
}

// Form
div.wpforms-container-full .wpforms-form .wpforms-field-label {
  font-weight: 600 !important;
}
div.wpforms-container-full .wpforms-form .wpforms-required-label {
  color: $red !important;
}

div.wpforms-container-full .wpforms-form input[type="date"],
div.wpforms-container-full .wpforms-form input[type="datetime"],
div.wpforms-container-full .wpforms-form input[type="datetime-local"],
div.wpforms-container-full .wpforms-form input[type="email"],
div.wpforms-container-full .wpforms-form input[type="month"],
div.wpforms-container-full .wpforms-form input[type="number"],
div.wpforms-container-full .wpforms-form input[type="password"],
div.wpforms-container-full .wpforms-form input[type="range"],
div.wpforms-container-full .wpforms-form input[type="search"],
div.wpforms-container-full .wpforms-form input[type="tel"],
div.wpforms-container-full .wpforms-form input[type="text"],
div.wpforms-container-full .wpforms-form input[type="time"],
div.wpforms-container-full .wpforms-form input[type="url"],
div.wpforms-container-full .wpforms-form input[type="week"],
div.wpforms-container-full .wpforms-form select,
div.wpforms-container-full .wpforms-form textarea {
  background-color: $white !important;
  border: 1px solid $gray !important;
  border-radius: 0 !important;
}

// Image Slider
#lightslider {
  padding: 15px 0;
}

.lSAction > a {
  top: 80px;
  background: none;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 40px;
  color: $white;
  font-weight: 600;
  transition: color 1s linear;
  &:hover {
    color: $red;
  }
}

.lSAction > .lSNext {
  right: 0px;
  &:before {
    content: "\f105";
  }
}

.lSAction > .lSPrev {
  &:before {
    content: "\f104";
  }
}

.lslide {
  .image-container {
    width: auto;
  }
}

.lSSlideOuter .lSPager.lSpg > li.active a,
.lSSlideOuter .lSPager.lSpg > li:hover a {
  background-color: $red;
}

.page-container {
  section {
    .content-container {
      a {
        border-bottom: 2px solid;
        border-color: $red;
        color: $red;
        &:hover {
          border-color: 2px solid $gray;
          color: $gray;
        }
      }
    }
  }
  .lSAction > a {
    top: 50%;
  }
  .lightSlider {
    padding: 0px 30px 30px 0;

    .image {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

// Pages
.page-container {
  .section-content {
    &.title-start-wrap {
      @include justify-content(flex-start);
      .one-half-title-start {
        width: 50%;
        h2 {
          padding-right: 30px;
          margin-bottom: 0;
        }
      }
    }
    &.title-end-wrap {
      @include justify-content(flex-end);
      .one-half-title-end {
        width: 50%;
        h2 {
          padding-left: 30px;
          margin-bottom: 0;
        }
      }
    }
    .one-half {
      &:first-child {
        .content-container,
        .image-container {
          padding: 0px 30px 0px 0;
        }
        .lSSlideOuter {
          padding: 0 30px 0 0;
        }
      }
      &:nth-child(2) {
        .content-container,
        .image-container {
          padding: 0px 0px 0px 30px;
        }
        .lSSlideOuter {
          padding: 0 0 0 30px;
        }
      }
      h2 {
        margin-top: 0;
      }
      .content-container {
        @include align-self(flex-start);
        p {
          margin-top: 0;
        }
      }
      .image-container {
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(center);
        @include align-items(center);
        @include align-self(center);
        width: 100%;
        img {
          max-width: calc(100% - 4px);
          height: auto;
        }
      }
    }
  }
  .specifications {
    padding-top: 15px;
    order: 3;
    .two-column {
      -moz-column-count: 1;
      -webkit-column-count: 1;
      column-count: 1;
    }
    ul {
      margin-top: 0;
      padding-left: 20px;
      max-width: 1000px;
      li {
        max-width: calc(100% - 30px);
      }
    }
  }
}

// Footer
.main-content-wrap,
.main-content-wrap.page-container {
  .footer {
    background: $gray;
    color: $white;
    position: relative;
    text-align: center;
    padding: 20px 0;
    section {
      padding: 10px;
      span {
        padding: 15px;
      }
    }

    a {
      color: $white;
      &:hover {
        color: $red;
      }
    }
    .flex-wrapper {
      padding: 6px 0;
      color: $white;
      &.logo {
        @include justify-content(center);
        img {
          width: 150px;
          height: auto;
        }
      }
      &.copyright {
        @include justify-content(center);
        padding-bottom: 0;
        font-size: 0.8em;
      }
    }
  }
}

.footer {
  background: $gray;
  color: $white;
  position: relative;
  text-align: center;
  padding: 20px 0;
  section {
    padding: 10px;
    span {
      padding: 15px;
    }
  }

  a {
    color: $white;
    &:hover {
      color: $red;
    }
  }
  .flex-wrapper {
    padding: 6px 0;
    color: $white;
    &.logo {
      @include justify-content(center);
      img {
        width: 150px;
        height: auto;
      }
    }
    &.copyright {
      @include justify-content(center);
      padding-bottom: 0;
      font-size: 0.8em;
    }
  }
}

.show-mobile {
  display: none;
}

.show-print {
  display: none;
}

@media print {
  .hide-print {
    display: none !important;
  }
  .show-print {
    display: inline-block !important;
    .image {
      top: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      right: 0 !important;
      img {
        width: 100% !important;
        height: auto !important;
      }
    }
  }
  #homepage .header-image {
    .intro-copy {
      color: $white !important;
    }
  }
  .show-print.image {
    top: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    height: 100% !important;
    width: 100% !important;
    img {
      width: 100% !important;
      height: auto !important;
    }
  }
  @-moz-document url-prefix() {
    .header-image {
      .image-overlay {
        display: none;
      }
    }
    #homepage .header-image {
      .intro-copy {
        color: $white !important;
      }
    }
  }
  .main-content-wrap .header-image .image-overlay {
    right: 0 !important;
    left: 0 !important;
  }
  section#products
    .flex-wrapper
    .one-half
    .content-container
    .show-print.image {
    height: 100% !important;
    width: 100% !important;
    max-height: 300px !important;
    overflow: hidden !important;
  }
  section .image-container .show-print .image {
    width: calc(100% - 4px) !important;
    height: calc(100% - 4px) !important;
  }
  .header-image {
    .show-print .image img {
      margin-top: -25% !important;
    }
  }
  .hide-print {
    display: none !important;
  }
  .header {
    position: relative !important;
    nav {
      display: none !important;
    }
  }
  .main-content-wrap {
    position: relative !important;
    overflow: visible !important;
    top: 0px;
  }
  .flex-wrapper .one-fourth {
    min-width: 160px !important;
  }
  .hr-titles {
    margin-bottom: 50px !important;
  }
  .page-container .section-content .one-half:nth-child(2) .content-container,
  .page-container .section-content .one-half:nth-child(2) .image-container,
  .page-container .section-content .one-half:first-child .content-container,
  .page-container .section-content .one-half:first-child .image-container {
    padding: 30px !important;
    // max-height: 300px;
    img {
      max-height: 300px !important;
      height: calc(300px - 4px) !important;
      width: auto !important;
    }
  }
}

// Mobile
@media only screen and (max-width: 934px) {
  .hide-mobile {
    display: none;
  }
  .show-mobile {
    display: block;
  }
  #nav {
    display: none;
  }
  #mobile-nav {
    display: block;
  }
  #mobile-nav-drawer {
    display: block;
  }
}
@media only screen and (max-width: 800px) {
  .hr-titles {
    margin-bottom: 0px;
  }
  .page-container .section-content .one-half:nth-child(2) .content-container,
  .page-container .section-content .one-half:nth-child(2) .image-container,
  .page-container .section-content .one-half:first-child .content-container,
  .page-container .section-content .one-half:first-child .image-container {
    padding: 30px;
    // max-height: 300px;
    img {
      max-height: 300px;
      height: calc(300px - 4px);
      width: auto;
    }
  }
  .page-container .section-content .one-half:nth-child(2) .content-container {
    padding-top: 30px;
  }
  .page-container {
    .flex-wrapper {
      .one-half {
        &.order-one {
          order: 1;
          padding-top: 30px;
        }
        &.order-two {
          order: 2;
        }
      }
    }
  }
}

@media only screen and (max-width: 700px) {
  .main-content-wrap .header-image .content-container {
    padding: 30px 60px;
    h1 {
      font-size: 1.7em;
    }
  }
  section#tools-and-facilities .tools-content .one-half {
    &.image {
      -webkit-background-size: 100%;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      height: 174px;
    }
    &.order-one {
      order: 1;
    }
    &.order-two {
      order: 2;
    }
  }
  section#tools-and-facilities .tools-content .one-half.image {
    margin: 0 0 30px 0;
  }
}

@media only screen and (max-width: 530px) {
  .main-content-wrap .header-image .content-container {
    padding: 30px 45px;
  }
  section .intro-copy {
    text-align: center;
    ul {
      text-align: left;
    }
  }
  section .image-row-wrap .one-fourth .content-container {
    padding: 15px 5px;
  }
  section#products .flex-wrapper .one-half:first-child .content-container,
  section#products .flex-wrapper .one-half:last-child .content-container {
    margin-right: 0;
  }
  section#products {
    padding-bottom: 30px;
  }
  section#tools-and-facilities .tools-content .one-half.image {
    margin-left: 0;
    margin-bottom: 10px;
  }
  section#products .flex-wrapper .one-half:last-child {
    margin-left: 0;
  }
  .main-content-wrap {
    .header-content-container h1 {
      text-align: center;
    }
    .header-image {
      .content-container {
        p {
          font-size: 1em;
        }
      }
    }
    h2.hr-titles {
      font-size: 1.2em;
      margin-bottom: 30px;
    }
  }
  section#products {
    .flex-wrapper {
      .product {
        padding: 10px 0;
      }
    }
  }

  section#products .flex-wrapper .one-half .content-container a {
    padding-top: 0;
  }
  section#leadership .team-wrapper .one-half .content-wrap {
    margin: 0;
  }
}

@media only screen and (max-width: 450px) {
  .main-content-wrap .header-image {
    max-height: 600px;
    height: 50vh;
    .content-container {
      h1 {
        font-size: 1.5em;
      }
    }
  }
  .main-content-wrap h2.hr-titles {
    font-size: 1em;
  }
  .map {
    width: 80%;
    margin: 0 auto;
    height: 200px;
    overflow: hidden;
  }

  .flex-wrapper .one-half {
    min-width: 260px;
  }
  section#tools-and-facilities .tools-content {
    height: auto;
    max-height: 100000px;
  }
  section#tools-and-facilities .tools-content .one-half {
    &.image {
      -webkit-background-size: 100%;
      -webkit-background-size: 100%;
      -moz-background-size: 100%;
      -o-background-size: 100%;
      background-size: 100%;
      height: 174px;
    }
    &.order-one {
      order: 1;
    }
    &.order-two {
      order: 2;
    }
  }

  section#tools-and-facilities .tools-content .one-half.image,
  section#leadership .team-wrapper .one-half .content-wrap {
    margin: 0;
  }
  .page-container .section-content .one-half:nth-child(2) .content-container,
  .page-container .section-content .one-half:nth-child(2) .image-container,
  .page-container .section-content .one-half:first-child .content-container,
  .page-container .section-content .one-half:first-child .image-container {
    padding: 0;
  }
  #company section.buttons {
    display: none;
  }
}

@media only screen and (max-width: 360px) {
  #mobile-nav-drawer {
    padding: 0 15px 60px 15px;
  }
}

/* Flexslider  */

.flex-direction-nav {
  li {
    padding: 0;
    a {
      top: 45%;
      // &.flex-prev {
      //   left: 40px;
      // }
      // &.flex-next {
      //   right: 40px;
      // }
      &:before {
        background: none;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: 40px;
        color: #000;
        font-weight: 600;
        transition: color 1s linear;
        content: "\f104";
      }
      &.flex-next:before {
        content: "\f105";
      }
    }
  }
}
.flex-control-nav {
  // bottom: 0;
}
.flex-control-paging li a.flex-active {
  background: $red;
}
