/* Variables */
$vin-blue: #5bb7db;
$vin-green: #60b044;
$vin-red: #ff0000;

$orange: rgba(242, 111, 59, 1);
$red: rgba(185, 35, 28, 1);
$red-invisible: rgba(185, 35, 28, 0);
$red_transparent: rgba(239, 80, 60, 0);
$purple: rgba(55, 40, 77, 1);
$purple-transparent: rgba(55, 40, 77, 0.6);
$white: rgba(236, 232, 232, 1);
$white-invisible: rgba(236, 232, 232, 0);
$gray: rgba(64, 64, 65, 1);
$gray-transparent: rgba(64, 64, 65, 0.6);
$gray-invisible: rgba(64, 64, 65, 0);
$light-gray: rgba(178, 178, 178, 1);
